<div class="all-student-table w-screen m-auto text-center flex justify-center mb-10">
    <div class="header">
        <img class="h-52" src="/assets/images/stu.png" alt="" />
        <h3 class="text-5xl font-bold">OUR <span class="text-pink-700">STUDENTS</span></h3>
    </div>
</div>
<div class="navigation flex justify-between w-11/12 m-auto">
    <a
        class="py-3 px-10 bg-gray-400 rounded text-gray-600 transform duration-200 hover:text-lime-200 hover:bg-green-700"
        href="/"
        >Go to Home Page</a
    >
    <a
        class="py-3 px-10 bg-gray-400 rounded text-gray-600 transform duration-200 hover:text-lime-200 hover:bg-green-700"
        href="/students/add-new"
        >Add New Student</a
    >
</div>
<div class="students-table mt-2">
    <div class="relative rounded-lg">
        <table class="w-11/12 m-auto text-sm text-center">
            <thead class="text-xs bg-sky-100 text-gray-700 uppercase">
                <tr>
                    <th scope="col" class="px-6 py-3">Student Photo</th>
                    <th scope="col" class="px-6 py-3">Student Name</th>
                    <th scope="col" class="px-6 py-3">Registration</th>
                    <th scope="col" class="px-6 py-3">Mobile Number</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Course</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Created At</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    class="odd:bg-gray-200 even:bg-slate-300 hover:bg-cyan-100 transform duration-200">
                    <td class="px-6 py-5">
                        <img
                            class="h-16"
                            src="/assets/studentPhoto/unnamed.jpg"
                            alt="Student Name" />
                    </td>
                    <td class="px-6 py-5">Shahadat Hussain Ripon</td>
                    <td class="px-6 py-5">DEV-090978</td>
                    <td class="px-6 py-5">+8801913509868</td>
                    <td class="px-6 py-5">devripon.io@gmail.com</td>
                    <td class="px-6 py-5">MERN Stack development</td>
                    <td class="px-6 py-5">Active</td>
                    <td class="px-6 py-5">12 min ago</td>
                    <td class="px-6 py-5">
                        <a
                            href="/students/show/755"
                            class="bg-green-600 py-2 px-5 mr-2 rounded text-lime-100 hover:bg-green-700 transition transform duration-300">
                            <i class="ri-eye-line"></i> View
                        </a>
                        <a
                            href="/students/edit/45"
                            class="bg-yellow-600 py-2 px-5 mr-2 rounded text-lime-100 hover:bg-yellow-700 transition transform duration-300">
                            <i class="ri-edit-line"></i> Edit
                        </a>

                        <a
                            href="/students/delete/558"
                            class="bg-red-600 py-2 px-5 mr-2 rounded text-lime-100 hover:bg-red-700 transition transform duration-300">
                            <i class="ri-delete-bin-line"></i> Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
