<div class="main h-screen flex justify-center items-center bg-sky-100">
    <!-- ========== Navigation Section Start From Here ========== -->
    <h3 class="text-sky-400 text-4xl">This is application home page</h3>
    <!-- ========== Navigation Section End From Here ========== -->
</div>
