<div class="main m-20">
    <div class="w-1/3 bg-gray-400 p-20 rounded">
        <div class="student-card">
            <img
                class="w-40 h-40 object-top object-cover rounded-full"
                src="/assets/studentPhoto/user.png"
                alt="" />
            <h3 class="student-name text-2xl font-medium mt-5 text-white">
                Shahadat Hussain Ripon
            </h3>
            <h4 class="reg-number font-normal mt-5 text-white">REG: DEV-990088</h4>
            <h4 class="status font-normal mt-5 text-white">STATUS: Active</h4>
        </div>
    </div>
</div>
